<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="XTravel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".CheckActivity"
            android:exported="true" />
        <activity
            android:name=".winsaved.SavedPlacesActivity"
            android:exported="false" />
        <activity
            android:name=".winticket.AddTicketActivity"
            android:exported="false" />
        <activity
            android:name=".winticket.TicketsActivity"
            android:exported="false" />
        <activity
            android:name=".winvisa.AddVisaActivity"
            android:exported="false" />
        <activity
            android:name=".winvisa.VisasActivity"
            android:exported="false" />
        <activity
            android:name=".ItemActivity"
            android:exported="false" />
        <activity
            android:name=".winmain.MapActivity"
            android:exported="true" />
        <activity
            android:name=".winmain.PlacesActivity"
            android:exported="true" />
        <activity
            android:name=".winmain.AccountActivity"
            android:exported="true" />
        <activity
            android:name=".winmain.ItemsActivity"
            android:exported="true" />
        <activity android:name=".MainScreen" />
        <activity
            android:name=".winlog.AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".winlog.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>